@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

@layer utilities {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  /* 👇 kolory */
  .bg-seashell {
    background-color: hsla(16, 33%, 91%, 1);
  }
  .bg-seashell-80 {
    background-color: hsla(16, 33%, 91%, 0.8);
  }
  .text-seashell {
    color: hsla(16, 33%, 91%, 1);
  }

  /* === Lilac === */
  .bg-lilac {
    background-color: hsla(270, 40%, 75%, 1);
  }
  .bg-lilac-80 {
    background-color: hsla(270, 40%, 75%, 0.8);
  }
  .text-lilac {
    color: hsla(270, 40%, 75%, 1);
  }

  /* === Thistle === */
  .bg-thistle {
    background-color: rgb(222, 161, 233);
  }
  .bg-thistle-80 {
    background-color: rgba(222, 161, 233, 0.8);
  }
  .text-thistle {
    color: #cdb4dbff;
  }
  /* === Plum Rose === */
  .bg-plumrose {
    background-color: #904e6c;
  }
  .bg-plumrose-80 {
    background-color: rgba(144, 78, 108, 0.8);
  }
  .text-plumrose {
    color: #904e6c;
  }
  /* === Teal Blue (Sky Magenta) === */
  .bg-tealblue {
    background-color: #5796a2;
  }
  .bg-tealblue-80 {
    background-color: rgba(87, 150, 162, 0.8);
  }
  .text-tealblue {
    color: #5796a2;
  }
  /* === Mauve === */
  .bg-mauve {
    background-color: #d0a6c9;
  }
  /* === Thulian Pink === */
  .bg-thulian {
    background-color: hsla(333, 78%, 67%, 1);
  }
  .bg-thulian-80 {
    background-color: hsla(333, 78%, 67%, 0.8);
  }
  .text-thulian {
    color: hsla(333, 78%, 67%, 1);
  }
  /* === Sky Magenta === */
  .bg-skymagenta {
    background-color: #cd79af;
  }
  .bg-skymagenta-80 {
    background-color: rgba(205, 121, 175, 0.8);
  }
  .text-skymagenta {
    color: #cd79af;
  }

  /* === Shocking Pink === */
  .bg-shocking {
    background-color: hsla(318, 60%, 70%, 1);
  }
  .bg-shocking-80 {
    background-color: hsla(318, 60%, 70%, 0.8);
  }
  .text-shocking {
    color: hsla(318, 60%, 70%, 1);
  }

  /* === Carolina Blue === */
  .bg-carolina {
    background-color: hsla(203, 50%, 62%, 1);
  }
  .bg-carolina-80 {
    background-color: hsla(203, 50%, 62%, 0.8);
  }
  .text-carolina {
    color: hsla(203, 50%, 62%, 1);
  }

  /* === Viridian === */
  .bg-viridian {
    background-color: hsla(167, 35%, 38%, 1);
  }
  .bg-viridian-80 {
    background-color: hsla(167, 35%, 38%, 0.8);
  }
  .text-viridian {
    color: hsla(167, 35%, 38%, 1);
  }

  /* === Neutral === */
  .text-softblack {
    color: #333;
  }
  .bg-softblack {
    background-color: #333;
  }
}
/* 👇 animacje i hover  */
@layer utilities {
  @keyframes wind {
    0%,
    100% {
      transform: rotate(-12deg);
    }
    50% {
      transform: rotate(6deg);
    }
  }
  .animate-wind {
    animation: wind 4s ease-in-out infinite;
    transform-origin: center bottom;
  }

  .tile-hover {
    transition: transform 0.5s ease, filter 0.5s ease-in-out,z-index 0.01 ease-in-out;
    will-change: transform, filter,z-index;
  }

  .tile-hover:hover {
    filter: brightness(1.1);
    transform: scale(1.01);
    z-index: 2;
  }
}

/* 👇 typografia */
@layer utilities {
  .text-fluid {
    font-size: clamp(3rem, 3.75rem, 5vw);
    line-height: 1;
  }
  .text-contact-tile-fluid {
    font-size: clamp(2rem, 2.5rem, 4vw);
    line-height: 1;
  }
  .h1-fluid {
    font-size: clamp(3.5rem, 6rem, 5.5vw);
  }
  .h2-fluid {
    font-size: clamp(2rem, 4rem, 6vw);
    line-height: 1;
  }
}
@layer utilities {
  .shadow-viridian-strong {
    box-shadow: 0 0 60px hsla(203, 50%, 62%, 0.4);
  }
}
