@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: hsla(167, 35%, 38%, 1);
}

@layer utilities {
  /* 👇 kolory */
  .bg-seashell {
    background-color: hsla(16, 33%, 91%, 1);
  }
  .bg-seashell-80 {
    background-color: hsla(16, 33%, 91%, 0.8);
  }
  .text-seashell {
    color: hsla(16, 33%, 91%, 1);
  }

  /* === Lilac === */
  .bg-lilac {
    background-color: hsla(270, 40%, 75%, 1);
  }
  .bg-lilac-80 {
    background-color: hsla(270, 40%, 75%, 0.8);
  }
  .text-lilac {
    color: hsla(270, 40%, 75%, 1);
  }

  /* === Thistle === */
  .bg-thistle {
    background-color: rgb(222, 161, 233);
  }
  .bg-thistle-80 {
    background-color: rgba(222, 161, 233, 0.8);
  }
  .text-thistle {
    color: #cdb4dbff;
  }

  /* === Teal === */
  .bg-teal {
    background-color: hsla(180, 40%, 35%, 1);
  }
  .bg-teal-80 {
    background-color: hsla(180, 40%, 35%, 0.8);
  }
  .text-teal {
    color: hsla(180, 40%, 35%, 1);
  }

  /* === Fairy Tale === */
  .bg-fairy-tale {
    background-color: rgb(246, 163, 195);
  }
  .bg-fairy-tale-80 {
    background-color: rgba(246, 163, 195, 0.8);
  }
  .text-fairy-tale {
    color: #ffc8ddff;
  }

  /* === Carnation Pink === */
  .bg-carnation-pink {
    background-color: #ffafccff;
  }
  .bg-carnation-pink-80 {
    background-color: rgba(255, 175, 204, 0.8);
  }
  .text-carnation-pink {
    color: #ffafccff;
  }

  /* === Uranian Blue === */
  .bg-uranian-blue {
    background-color: #bde0feff;
  }
  .bg-uranian-blue-80 {
    background-color: rgba(189, 224, 254, 0.8);
  }
  .text-uranian-blue {
    color: #bde0feff;
  }

  /* === Light Sky Blue === */
  .bg-light-sky-blue {
    background-color: #a2d2ffff;
  }
  .bg-light-sky-blue-80 {
    background-color: rgba(162, 210, 255, 0.8);
  }
  .text-light-sky-blue {
    color: #a2d2ffff;
  }

  /* === Thulian Pink === */
  .bg-thulian {
    background-color: hsla(333, 78%, 67%, 1);
  }
  .bg-thulian-80 {
    background-color: hsla(333, 78%, 67%, 0.8);
  }
  .text-thulian {
    color: hsla(333, 78%, 67%, 1);
  }

  /* === Shocking Pink === */
  .bg-shocking {
    background-color: hsla(318, 60%, 70%, 1);
  }
  .bg-shocking-80 {
    background-color: hsla(318, 60%, 70%, 0.8);
  }
  .text-shocking {
    color: hsla(318, 60%, 70%, 1);
  }

  /* === Carolina Blue === */
  .bg-carolina {
    background-color: hsla(203, 50%, 62%, 1);
  }
  .bg-carolina-80 {
    background-color: hsla(203, 50%, 62%, 0.8);
  }
  .text-carolina {
    color: hsla(203, 50%, 62%, 1);
  }

  /* === Viridian === */
  .bg-viridian {
    background-color: hsla(167, 35%, 38%, 1);
  }
  .bg-viridian-80 {
    background-color: hsla(167, 35%, 38%, 0.8);
  }
  .text-viridian {
    color: hsla(167, 35%, 38%, 1);
  }

  /* === Neutral === */
  .text-softblack {
    color: #333;
  }
  .bg-softblack {
    background-color: #333;
  }
}
/* 👇 animacje i hover  */
@layer utilities {
  @keyframes wind {
    0%,
    100% {
      transform: rotate(-12deg);
    }
    50% {
      transform: rotate(6deg);
    }
  }
  .animate-wind {
    animation: wind 4s ease-in-out infinite;
    transform-origin: center bottom;
  }

  .tile-hover {
    transition: transform 0.5s ease, filter 0.5s ease-in-out;
    will-change: transform, filter;
  }

  .tile-hover:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
  }
}

/* 👇 typografia */
@layer utilities {
  .text-fluid {
    font-size: clamp(3rem, 3.75rem, 5vw);
    line-height: 1;
  }
  .text-contact-tile-fluid {
    font-size: clamp(2rem, 2.5rem, 4vw);
    line-height: 1;
  }
  .h1-fluid {
    font-size: clamp(3.5rem, 6rem, 5.5vw);
  }
  .h2-fluid {
    font-size: clamp(2rem, 4rem, 6vw);
    line-height: 1;
  }
}
@layer utilities {
  .shadow-viridian-strong {
    box-shadow: 0 0 60px hsla(203, 50%, 62%, 0.4);
  }
}
